
<div class="lincoapp-tab3" id="headNav">
    <div class="tab-scroll-wrap">
        <div class="nav-new" >
            <ul>
                <li data-channel="20000204" data-type="tuijian">推荐</li>
                <!--<li data-channel="60000204" data-type="zhibo">直播</li>
                <li data-channel="60000204" data-type="shipin">视频</li>-->
                <li data-channel="100005" data-type="NBA">NBA </li>
                <li data-channel="100008" data-type="yingchao">英超</li>
                <li data-channel="100007" data-type="zhongchao">中超</li>
                <li data-channel="100009" data-type="xijia">西甲</li>
                <li data-channel="100013" data-type="ouguan">欧冠</li>
                <li data-channel="100015" data-type="yaguan">亚冠</li>
                <li data-channel="100006" data-type="CBA">CBA </li>
                <li data-channel="100010" data-type="yijia">意甲</li>
                <li data-channel="100011" data-type="dejia">德甲</li>
                <li data-channel="100019" data-type="fajia">法甲</li>
            </ul>
            <span class="line"></span>
        </div>
    </div>
    <div class="pull-down-load-tips" style="">
        <i class="iloading"></i><span class="txt">下拉刷新</span>
    </div>
</div>
<div id="mainSection" class="swiper-container home-swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
    </div>
</div>

